* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F5F2ED;
}

/* Header Start */
header {
    background-color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    padding: 6px;
}

div.navleft {
    display: flex;
    gap: 16px;
    position: relative;
}

img {
    width: 30px;
    height: 30px;
    border-radius: 4px;
}

input.padding {
    padding: 5px;
    padding-left: 30px;
}

div.position {
    display: flex;
    gap: 4px;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 23%;
}

i.black {
    opacity: 0.9;
    color: black;
}

p.margin {
    margin: 0px;
}

div.navright {
    display: flex;
    gap: 16px;
}

div.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    i {
        color: black;
    }
}

i {
    color: gray;
}

img.border {
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

div.bar {
    border: 1px solid lightgray;
}

/* Header End */

/* Content Start */
div.content {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 24px;
}

div.twoarea {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

div.leftcontent {
    background-color: white;
    width: 270px;
    border-radius: 8px;
}

div.padding {
    padding: 16px;
}

img.radius {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

p.black {
    color: black;
    font-weight: 700;
}

p.gray {
    color: gray;
    text-align: center;
}

div.grid {
    margin-top: 16px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 16px;
    padding: 8px;
}

p.parag {
    color: gray;
}

span.blue {
    color: #288dcc;
    font-weight: 700;
}

div.colum {
    padding: 8px;
}

div.row {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 8px;
}

div.recent {
    background-color: white;
    width: 270px;
    border-radius: 8px;
}

div.link {
    padding: 8px;
}

div.rowlink {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    padding: 4px;
}

div.rowlink1 {
    display: flex;
    flex-direction: row;
    gap: 22px;
    align-items: center;
    padding: 4px;
}

span.icon {
    color: gray;
    font-size: 20px;
    font-weight: 500;
}

span.icon:hover {
    color: black;
}

div.groups {
    margin-top: 32px;
}

p.blue {
    color: #288dcc;
    font-weight: 700;
}

p.link {
    color: gray;
    padding: 8px;
}

p.link:hover {
    color: black;
}

div.events {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.centercontent {}

div.form {
    width: 540px;
    background-color: white;
    border-radius: 8px;
}

div.acsess {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 12px;
}

input.radius {
    border-radius: 24px;
    padding: 8px;
}

div.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
    padding: 8px;
}

div.media {
    display: flex;
    align-items: center;
    gap: 8px;
}

i.blue {
    color: #288dcc;
}

i.violet {
    color: violet;
}

i.orange {
    color: orange;
}

div.sort {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
}

div.bartip {
    width: 75%;
    color: gray;
    border: 1px solid gray;
}

div.suggested {
    width: 540px;
    background-color: white;
    border-radius: 8px;
    margin-top: 16px;
}

div.suggestcontent {
    padding: 16px;
}

div.flexicon {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.barm {
    border: 1px solid gray;
    margin-top: 16px;
}

div.nasser {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

div.flexleft {
    display: flex;
    gap: 8px;
}

div.about {}

img.bigradius {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

span.gray {
    color: gray;
}

span.world {
    display: flex;
    align-items: center;
    gap: 4px;
}

div.flexright {
    display: flex;
    align-items: center;
    gap: 4px;
}

p.top {
    margin-top: 8px;
}

i.pink {
    color: rgb(255, 78, 108);
}

img.width {
    width: 540px;
    height: auto;
    border-radius: 0px;
}

div.padding {
    padding: 16px;
}

span.right {
    color: gray;
    display: flex;
    justify-content: right;
}

div.barp {
    border: 1px solid lightgray;
    width: 100%;
    margin-top: 8px;
}

div.flex2 {
    display: flex;
    gap: 8px;
}

div.rightcontent {
    width: 360px;
    background-color: white;
    border-radius: 8px;
    height: 400px;
}

div.paddingcontent {
    padding: 16px;
}

div.banks {
    display: flex;
    gap: 8px;
    margin-top: 16px;
}

div.bankabout{}

div.pad{
    padding: 4px;
    border: 1px solid black;
    border-radius: 24px;
    width: 110px;
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 8px;
    cursor: pointer;
}

p.t{
    margin-top: 16px;
}

/* Content End */